![imagen](./img/python.jpg)

# Python Colecciones

#### Autor: [Daniel Ortiz López](https://www.linkedin.com/in/daniel-ortiz-l%C3%B3pez/)

Las colecciones son una manera de agrupar varios elementos. En otros notebooks vimos cómo funcionan las listas, que es la colección más usada, pero se trata solo de la punta del iceberg. Con Python tenemos varias manera de almacenar conjuntos de datos, dependiendo del tipo de dato, finalidad, tipo de acceso y rendimiento.

1. [Listas](#1.-Listas)
2. [Tuplas](#2.-Tuplas)
3. [Diccionarios](#3.-Diccionarios)
4. [Sets](#4.-Sets)
5. [Conversiones entre colecciones](#5.-Conversiones-entre-colecciones)
6. [Resumen](#6.-Resumen)

## 1. Listas
Ya conocemos bastante las listas. Veamos un repaso de lo que podemos hacer con ellas, así como algunas funcionalidades nuevas

In [1]:
# Listas de números, strings, booleanos, con elementos repetidos, listas anidadas...
nums = [6, 2, 8, 3, 4, 5, 5]
months = ["Enero", "Febrero", "Marzo"]
mix = [5, 7, "Abril", True, None, ["Blanco", "Negro"]]

### Acceso
Entre corchetes introducimos el indice del elemento al que queremos acceder

In [2]:
months = ["Enero", "Febrero", "Marzo"]
print(months[0])
print(months[1])

Enero
Febrero

Si planteamos el problema al revés. Tenemos los valores de la lista y lo que queremos es obtener el índice de esos valores dentro de la lista

In [3]:
months = ["Enero", "Febrero", "Marzo", "Marzo", "Junio", "Marzo"]
print(months.index("Marzo"))

2

**Slicing**: usamos slicing para acceder a varios elementos seguidos de la lista

In [4]:
degrees = [22, 34, 15, 26, 18, 22]
print(degrees[3])

ls = []
for i in range(2):
    ls.append(degrees[i])

print(ls)
print(degrees[:2])
print(degrees[2:])
print(degrees[1:3])

26
[22, 34]
[22, 34]
[15, 26, 18, 22]
[34, 15]

In [6]:
print(degrees)
degrees[-2] == degrees[4]

[22, 34, 15, 26, 18, 22]

True

### Modificar elementos
Las listas son mutables, por lo que podremos modificarlas

In [7]:
# Accediendo mediante el indice
months = ["Enero", "Febrero", "Marzo"]

print(months[2])

months[2] = "Junio"

print(months[2])

Marzo
Junio

In [9]:
months[0] = 'Julio'

In [10]:
months

['Julio', 'Febrero', 'Junio']

In [19]:
months

['Enero', 'Febrero', 'Junio']

### Añadir elementos
Se añade al final de la lista si usamos `append`, o si queremos en un lugar concreto, mediante `insert`

In [12]:
# Con append lo añadimos al final de la lista
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('kawasaki')
print(motorcycles)

motorcycles.insert(1, 'vespa')
motorcycles.insert(3, 'vespa')

ls_idx = [1, 3, 5]
for idx in ls_idx:
    motorcycles.insert(idx, 'vespa')


print(motorcycles)

['honda', 'yamaha', 'suzuki', 'kawasaki']
['honda', 'vespa', 'vespa', 'vespa', 'yamaha', 'vespa', 'vespa', 'suzuki', 'kawasaki']

In [14]:
# Es muy comun crear una lista vacia, y a lo largo del programa, ir añadiendo elementos

week = ['LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO', 'DOMINGO']

week_lower = []
for day in week:
    week_lower.append(day.lower())

print(week_lower)

['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo']

In [ ]:
['lunes', 'MARTES', 'miercoles', 'JUEVES', 'viernes', 'SABADO', 'domingo']

In [33]:
week = ['LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO', 'DOMINGO']

# Paso 1: Mostrar indice y valor asociado al indice
for idx, val in enumerate(week):
    print(idx, val)

for tup in enumerate(week):
    idx = tup[0]
    val = tup[1]

    print(idx, val)

for day in week:
    idx = week.index(day)
    print(idx, day)

for idx in range(len(week)):
    val = week[idx]
    print(idx, val)

0 LUNES
1 MARTES
2 MIERCOLES
3 JUEVES
4 VIERNES
5 SABADO
6 DOMINGO
0 LUNES
1 MARTES
2 MIERCOLES
3 JUEVES
4 VIERNES
5 SABADO
6 DOMINGO
0 LUNES
1 MARTES
2 MIERCOLES
3 JUEVES
4 VIERNES
5 SABADO
6 DOMINGO
0 LUNES
1 MARTES
2 MIERCOLES
3 JUEVES
4 VIERNES
5 SABADO
6 DOMINGO

In [15]:

# Paso 2: Mostrar unicamente los valores asociados a indice par
for day in week:
    idx = week.index(day)

    if (idx%2 == 0):
        print(idx, day)

0 LUNES
2 MIERCOLES
4 VIERNES
6 DOMINGO

In [35]:
# Paso 3: Pisa el valor de la posicion par con su valor en minusculas
for day in week:
    idx = week.index(day)

    if (idx%2 == 0):
        week[idx] = week[idx].lower()

week

['lunes', 'MARTES', 'miercoles', 'JUEVES', 'viernes', 'SABADO', 'domingo']

### Eliminar elementos
Para eliminar elementos se usar `remove`. Si no existe, da error, así que cuidado con esta sentencia.

En ocasiones resulta útil quedarnos con el elemento eliminado. Para ello usamos `pop()`, que elimina el elemento que le indiquemos, y además devuelve ese elemento por lo que podremos guardarlo en una variable para usarlo después.

In [24]:
cars = ["VW", "Seat", "BMW", "VW"]
print(cars)
a = cars.remove("BMW")
print(cars)
b = cars.pop(1)
print(cars)

['VW', 'Seat', 'BMW', 'VW']
['VW', 'Seat', 'VW']
['VW', 'VW']

In [26]:
print(a)

None

In [27]:
b

'Seat'

In [29]:
# Eliminar elementos por indice, y guarda ese valor en una variable
cars = ["VW", "Seat", "BMW", "VW"]
idx_seat = cars.index("Seat")
mi_coche = cars.pop(idx_seat)
print(mi_coche)

Seat

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES remove</h3>
         
 </td></tr>
</table>

In [30]:
cars = ["VW", "Seat", "BMW", "VW"]
cars.remove("VW")
print(cars)

['Seat', 'BMW', 'VW']

In [31]:
cars

['Seat', 'BMW', 'VW']

### Métodos: ordenar, tamaño, invertir orden, ocurrencia
En este apartado veremos los métodos más útiles, pero podrás consultar el resto en [este enlace](https://www.w3schools.com/python/python_ref_list.asp)

In [43]:
degrees = [22, 34, 15, 26, 18, 22]
# degrees.sort()
deg_sort = sorted(degrees)
degrees

[22, 34, 15, 26, 18, 22]

In [38]:
degrees.count(22)

2

In [44]:
degrees.reverse()

In [45]:
degrees

[22, 18, 26, 15, 34, 22]

In [36]:
deg_sort

[15, 18, 22, 22, 26, 34]

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES indice</h3>
         
 </td></tr>
</table>

Mucho cuidado cuando accedemos a los elementos de la lista. Es un error muy habitual acceder a un índice que no existe en la lista.

Si estamos accediendo al ultimo elemento, en vez de poner el numero de su indice, poner mejor `-1`, y asi evitamos errores

In [ ]:
degrees = [22, 34, 15, 26, 18, 22]
degrees

Si tenemos este tipo de errores y no sabemos resolverlos, lo mejor es imprimir la longitud de la lista, y todos los elementos.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de listas</h3>

Piensa en al menos 3 personas que invitarías a cenar
<ol>
    <li>Utiliza la lista de invitados para imprimir cada uno por pantalla, mediante un bucle</li>
    <li>Ordena alfabeticamente tu lista de invitados</li>
    <li>¿Quién es el primer invitado de la lista?</li>
    <li>Te llama uno de ellos a última hora, que no va a poder asistir. Eliminalo de la lista</li>
    <li>Por suerte te ha llamado un amigo que no iba a asistir y al final si puede. Añadelo a mitad de la lista</li>
</ol>
         
 </td></tr>
</table>

In [51]:
ls_amigos = ["Teresa", "Ale", "Carlos"]

for name in ls_amigos:
    print(name)

ls_amigos_sort = sorted(ls_amigos)
print(ls_amigos_sort)

ls_amigos.sort()
print(ls_amigos)

print("El primer invitado es", ls_amigos[0])

ls_amigos.remove("Carlos")
print(ls_amigos)

ls_amigos.append("Maria")
print(ls_amigos)

Teresa
Ale
Carlos
['Ale', 'Carlos', 'Teresa']
['Ale', 'Carlos', 'Teresa']
El primer invitado es Ale
['Ale', 'Teresa']
['Ale', 'Teresa', 'Maria']

## 2. Tuplas
Muy similares a las listas. Si en Notebooks anteriores definíamos a las listas como ordenadas y mutables, las tuplas son ordenadas e inmutables.

* **Inmutables**: una vez creada la tupla con sus elementos iniciales, no se puede modificar
* **Ordenadas**: podemos acceder a sus elementos a través del indice y reordenar la tupla según queramos

Las tuplas se suelen usar para pequeñas colecciones de datos que no van a cambiar a lo largo del programa, como es el caso de las constantes.

Si las listas se construían mediante corchetes `[]`, las tuplas lo hacen con los paréntesis `()`

In [57]:
"b" > "ac"

True

In [56]:
"5" > "10"

True

In [58]:
tup_1 = (5, 25)
print(tup_1)

(5, 25)

In [62]:
list(tup_1)

[5, 25]

In [59]:
print(type(tup_1))

<class 'tuple'>

In [61]:
sorted(tup_1)

(5, 25)

In [65]:
tup_hola = tuple("Hola")
print(tup_hola)

('H', 'o', 'l', 'a')

In [66]:
for letter in tup_hola:
    print(letter)

H
o
l
a

Los paréntesis ya se usan para reordenar operaciones `5 * (3 + 4)`, por lo que hay que añadir una coma cuando definamos una tupla con un único elemento, sino Python lo interpretará como un número.

In [70]:
tup_2 = (1,)
print(type(tup_2))

<class 'tuple'>

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES tuplas</h3>
         
 </td></tr>
</table>

Cuidado que las tuplas son inmutables, y una vez creadas no las podrás modificar después

In [72]:
print(tup_1)
tup_1[0] = 10

(5, 25)

TypeError: 'tuple' object does not support item assignment

In [73]:
# Si queremos añadir elementos, podemos meterlos en otra tupla y sumarlas para que se concatenen
tup_3 = (1, 2, "perro")
tup_4 = (3, "gato")

print(tup_3 + tup_4)

(1, 2, 'perro', 3, 'gato')

### Listas y tuplas
Podemos combinar listas y tuplas que no tendremos ningún problema, siempre y cuando respetemos las propiedades de cada tipo de dato.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de tuplas</h3>


<ol>
    <li>Crea una tupla con un único valor. Comprueba su tipo</li>
    <li>Crea otra tupla con 3 elementos</li>
    <li>Añadele (como puedas) a la primera tupla, los tres elementos de la segunda</li>
    <li>Obtén una cuarta tupla a partir de los dos primeros valores de la tupla creada del apartado anterior</li>
</ol>
         
 </td></tr>
</table>

In [81]:
tup_unit = (2,)
print(type(tup_unit))

tup_ex = (1, 2, "caballo")
print(tup_ex)

tup_unit = tup_unit + tup_ex
print(tup_unit)

tup_ex_sl = tup_ex[:2]
tup_ex_sl = (tup_ex[0], tup_ex[1])
print(tup_ex_sl)

<class 'tuple'>
(1, 2, 'caballo')
(2, 1, 2, 'caballo')
(1, 2)

## 3. Diccionarios
En este tipo de colecciones no solo podemos agrupar datos, sino que tenemos la posibilidad de establecer una relación entre los mismos, con la forma **clave: valor**.

La sintaxis  es mediante llaves `{}`

> nombre_diccionario = {clave1: valor1, clave2: valor2, clave3: valor3}

Si veíamos que las listas son elementos mutables y y ordenadas, y las tuplas inmutables y ordenadas, los diccionarios son:

* **Mutables**: podemos modificar sus elementos
* **Desordenado**: la potencia de acceso de los diccionarios es su formato clave-valor, no su orden. Aun así, el dicionario conserva el orden de los elemento según los vamos insertando.

Vamos a declarar un diccionario en el que definiremos elementos de un coche

In [112]:
d_coche = {"Marca": "Ford", 
            "Modelo": "Focus",
            "Cilindros": 4,
            "Consumo_100": 7}

Se puede almacenar todo tipo de datos: numero, cadena, booleano, listas, tuplas, diccionarios...

Cuando declaremos el diccionario, lo podemos hacer en una sola linea `coche = {"color"="Gris", "marca"...}`, aunque se recomienda por sencillez a la hora de leer el código, realizar esta acción en varias líneas. Si escribimos el primer elemento y presionamos enter, Jupyter introduce automáticamente la tabulación.

### Acceso, modificación, añadir, eliminar

In [93]:
d_coche['Marca']

'Ford'

In [94]:
d_coche['Anyo'] = 2017
d_coche

{'Marca': 'Ford',
 'Modelo': 'Focus',
 'Cilindros': 4,
 'Consumo_100': 7,
 'Anyo': 2017}

In [95]:
d_coche.pop('Anyo')

2017

In [96]:
d_coche

{'Marca': 'Ford', 'Modelo': 'Focus', 'Cilindros': 4, 'Consumo_100': 7}

Para más detalle de los métodos de los diccionario puedes [consultar la documentación](https://www.w3schools.com/python/python_ref_dictionary.asp)

In [100]:
x = ('key1', 'key2', 'key3')
y = None

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [101]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [103]:
for k, v in car.items():
    print(f'The {k} of my car is {v}')

The brand of my car is Ford
The model of my car is Mustang
The year of my car is 1964

In [105]:
car.keys()

dict_keys(['brand', 'model', 'year'])

In [106]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [108]:
list(d_coche.items())

[('Marca', 'Ford'), ('Modelo', 'Focus'), ('Cilindros', 4), ('Consumo_100', 7)]

In [ ]:
# Podemos empezar tambien mediante un diccionario vacío

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en diccionarios</h3>
         
 </td></tr>
</table>

Si hay una clave que no existe en el diccionario, saltará un error.

En este caso, el error es bastante intuitivo: `KeyError`, no encuentra la clave

In [113]:
d_coche['Anyo']

KeyError: 'Anyo'

**¿Cómo solventar esto?** Sirmpre tienes la opción de usar el bloque `try/except`, pero en este caso, los diccionarios tienen una solución más elegante: `get(clave, valor si no existe)`

In [114]:
try:
    print(d_coche['Anyo'])
except KeyError:
    d_coche['Anyo'] = 1970

print(d_coche)

{'Marca': 'Ford', 'Modelo': 'Focus', 'Cilindros': 4, 'Consumo_100': 7, 'Anyo': 1970}

In [120]:
d_coche.setdefault('km_recorridos', 10000)

30000

In [121]:
d_coche

{'Marca': 'Ford',
 'Modelo': 'Focus',
 'Cilindros': 4,
 'Consumo_100': 7,
 'Anyo': 1970,
 'km_recorridos': 30000}

### Iterar
Que el diccionario no esté ordenado, no quiere decir que no podamos iterar sus elementos, ya que también es un **interable**, como los son las listas o las tuplas.

In [123]:
for k in d_coche.keys():
    print(k)

Marca
Modelo
Cilindros
Consumo_100
Anyo
km_recorridos

In [125]:
for v in d_coche.values():
    print(v)

Ford
Focus
4
7
1970
30000

In [127]:
for k, v in d_coche.items():
    print(k, v)

Marca Ford
Modelo Focus
Cilindros 4
Consumo_100 7
Anyo 1970
km_recorridos 30000

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio de diccionarios</h3>


<ol>
    <li>Crea un diccionario con las caracteristicas de un televisor: tamaño, smarttv, marca...</li>
    <li>Añade otra catacteristica del tv</li>
    <li>Modifica una de ellas</li>
    <li>Imprime por pantalla sus claves, valores e items</li>
</ol>
         
 </td></tr>
</table>

In [134]:
d_tele = {'tamano':52, 'smarttv': True, 'marca': 'Panasonic'}

d_tele["peso"] = 4.5
print(d_tele)

d_tele['tamano'] = 55
print(d_tele)

print(d_tele.keys())
print(d_tele.values())
print(d_tele.items())

for key, val in d_tele.items():
    print(key, val)

{'tamano': 52, 'smarttv': True, 'marca': 'Panasonic', 'peso': 4.5}
{'tamano': 55, 'smarttv': True, 'marca': 'Panasonic', 'peso': 4.5}
dict_keys(['tamano', 'smarttv', 'marca', 'peso'])
dict_values([55, True, 'Panasonic', 4.5])
dict_items([('tamano', 55), ('smarttv', True), ('marca', 'Panasonic'), ('peso', 4.5)])
tamano 55
smarttv True
marca Panasonic
peso 4.5

## 4. Sets
Otra colección *bulit-in* de Python, compuesta por un conjunto de *claves*. Muy parecidos a los diccionarios. Tienen las siguientes características:
* **Mutables**: podemos modificarlos una vez se hayan creado
* **No ordenado**
* **Elementos unicos**: se compone de un conjunto de claves únicas

**¿Cuándo usar sets?** Cuando estemos buscando unicidad en nuestros datos y no nos importe el orden.

Te dejo por aquí [la documentación](https://docs.python.org/2/library/sets.html) para realizar consultas sobre los sets

Si sintaxis es:
>```Python
> mi_set = {elemento1, elemento2, elemento3}
>```

Tiene una sintaxis muy parecida a la de los diccionarios, pero en este caso no se utilizan los `:`.

In [139]:
mi_set = {1, 2, 3, "Hola", 5, 2, 2}

In [136]:
type(mi_set)

set

Los elementos del set son unicos, por lo que si en la declaración, o posteriormente añadiendo elementos hubiese algún duplicado, el set lo ignoraría. Es más, cuando aplicas el `len`, muestra la cantidad de valores únicos que tiene.

In [141]:
mi_set

{1, 2, 3, 5, 'Hola'}

Para comprobar si dos sets tienen los mismos elementos

In [144]:
ls = ['Mario', 'Julio', 'Javi', 'Genesis', 'Alberto', 
        'Maria', 'Rocio', 'Guille', 'Alberto', 'Antonio']
print(len(ls))

print(len(set(ls)))

10
9

## 5. Conversiones entre colecciones

### De lista

In [147]:
ls = [(1, "a"), (2, "b"), (3, "c")]

print(tuple(ls))
print(set(ls))
print(dict(ls))

((1, 'a'), (2, 'b'), (3, 'c'))
{(3, 'c'), (1, 'a'), (2, 'b')}
{1: 'a', 2: 'b', 3: 'c'}

### De Tupla

In [148]:
tp1 = ((1, 'a'), (2, 'b'), (3, 'c'))

print(list(tp1))
print(set(tp1))
print(dict(tp1))

[(1, 'a'), (2, 'b'), (3, 'c')]
{(3, 'c'), (1, 'a'), (2, 'b')}
{1: 'a', 2: 'b', 3: 'c'}

### De diccionario

In [153]:
d_1 = {1: 'a', 2: 'b', 3: 'c'}

print(tuple(d_1.items()))
print(list(d_1.items()))
print(set(d_1.items()))

((1, 'a'), (2, 'b'), (3, 'c'))
[(1, 'a'), (2, 'b'), (3, 'c')]
{(3, 'c'), (1, 'a'), (2, 'b')}

Se queda únicamente con las claves, y perdemos los valores. Para no perder la informacion:

### De Set

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en conversiones</h3>
         
 </td></tr>
</table>

El diccionario suele dar problemas cuando intentamos realizar conversiones entre colecciones, ya que es la estrutura más compleja.

## 6. Resumen

In [ ]:
# Listas
print("Listas")
nums = [6, 2, 8, 3, 4, 5, 5]

# Tamaño
print(len(nums))

# Acceso
print(nums[2])
print(nums[-1])

# Acceso por indice
print(nums.index(5))
nums.append('numeros')
print(nums)

# Eliminar
nums.remove("numeros")
print(nums)

# Ordenar
nums.sort()
print(nums)

# Tamaño de la lista
print(len(nums))

# Invertir el orden
nums.reverse()
print(nums)

# Ocurrencia de un valor
print(nums.count(22))

In [ ]:
# Tuplas
primera_tupla = (3, "text")

# Anidacion de tuplas
tupla_anid = (1, 2, 3, ("A", "B", "C"))
print(tupla_anid)

# El acceso es como en las listas
print(tupla_anid[0])

# Tambien son elementos iterables
for i in tupla_anid:
    print(i)
    
# El slicing también funciona igual
print(tupla_anid[0:2])

# Longitud de la tupla
print(len(tupla_anid))

In [ ]:
# Diccionario
coche = {"color": "Gris",
        "marca": "VW",
        "peso": 1500,
        "Cambio automatico": True}

print(coche)

coche = {"color": "Gris",
        "marca": "VW"
        }

for i in coche: # Esta recorriendo las claves
    print(i) # Imprimimos la clave
    print(coche[i]) # Imprimimos el valor
    
# Otra menera de recorrer los elementos
for clave, valor in coche.items():
    print(clave, valor)

In [ ]:
# Sets
colores = {"rojo", "azul", "blanco"}
print(colores)

# Mira lo que ocurre cuando ponemos duplicados
colores2 = {"rojo", "azul", "blanco", "rojo"}
print(colores2)

# El len tambien funciona aqui
len(colores2)

# Crear un set vacio. No se crea con {}, ya que si no, sería un diccionario.
dias = set()
print(dias)

# Añadir elementos
dias.add("Lunes")
dias.add("Martes")
dias.add("Miercoles")
print(dias)

# Eliminar elementos
dias.remove("Miercoles")
print(dias)

# Buscar elementos
print("Lunes" in dias)
print("Viernes" not in dias)

# Tambien es un iterable
for i in dias:
    print(i)